@charset "utf-8";
body {
    width: 100%;
    margin: 0;
    min-width: 1280px;
    font-size: 12px;
    padding: 0;
    font-family: "微软雅黑", Arial;
    color: #343844;
    text-align: left;
    background: #eef1f7;
    /*-ms-user-select:none;-moz-user-select:none;*/
    blr: expression(this.onFocus=this.blur());
    overflow-x: auto;
}
.userCant{user-select:none;-moz-user-select:none;-webkit-user-select:none;-o-user-select:none; }
* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

img {
    border: 0;
    margin: 0;
    padding: 0
}

form {
    margin: 0;
    padding: 0
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none
}

dl {
    margin: 0;
    padding: 0;
    list-style-type: none
}

dt {
    margin: 0;
    padding: 0;
    list-style-type: none
}

dd {
    margin: 0;
    padding: 0;
    list-style-type: none
}

p {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
    vertical-align: middle
}

select {
    margin: 0;
    padding: 0;
    vertical-align: middle
}

a, a:link, a:hover {
    text-decoration: none;
}

a:visited {
}

a:active, a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}

span {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
}

.table1 td {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}

/*h2 {*/
    /*font-size: 14px;*/
    /*font-weight: normal;*/
/*}*/

ul, li {
    list-style-type: none;
}

dl, dt, dd {
    list-style-type: none;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    *display: inline; /*IE only*/
}
/*禁止选中变蓝*/
.userDont{user-select:none;-webkit-user-select:none;-moz-user-select:none;}
/*头部区域*/

.top_t {
    width: 100%;
    height: auto;
    float: left;
    background: #343844;
}

.top_b {
    width: 100%;
    height: auto;
    float: left;
    display: inline;
    background: #ffffff;
    border-bottom: 1px solid #dadfea;
}

.top_tittle {
    width: 1180px;
    height: 65px;
    position: relative;
    margin: 0px auto;
}

.top_center {
    width: 1180px;
    height: 90px;
    position: relative;
    margin: 0px auto;
}

.top_center_left {
    width: 60%;
    height: 100%;
    float: left;
    display: inline;
}

.top_center_left_title {
    width: 100%;
    height: auto;
    float: left;
    display: inline;
    margin: 15px auto 15px auto;
}

.top_center_left_title h1 {
    font-family: "微软雅黑";
    color: #2f364a;
    font-size: 24px;
    cursor: default;
    font-weight: lighter;
    float: left;
    display: block;
    width: auto;
}

.top_center_left_title span {
    background: url(img/h_04.png) no-repeat;
    float: left;
    display: block;
    width: auto;
    margin: 12px auto 0px 17px;
    line-height: 14px;
    color: #2f364a;
    padding: 0px 0px 0px 15px;
    cursor: default;
}

.top_center_left_content {
    width: 100%;
    height: auto;
    float: left;
    display: inline;
    margin: 0px auto;
    cursor: default;
}

.top_center_left_content span {
    cursor: pointer;
}

.top_center_right {
    width: 40%;
    height: 100%;
    float: left;
    display: inline;
    background: url(img/top_center_right_bg.png) no-repeat right 8px;
}

.top_center_right_book {
    background: url(img/top_center_right_book.png) no-repeat;
    float: left;
    display: inline;
    padding: 0px 0px 0px 20px;
    margin: 63px 10px 0px 0px;
    cursor: default;
}

.top_center_right_notebook {
    background: url(img/top_center_right_notebook.png) no-repeat;
    float: left;
    display: inline;
    padding: 0px 0px 0px 20px;
    margin: 63px 0px 0px 0px;
    cursor: default;
}

.top_center_right_time {
    background: url(img/top_center_right_time.png) no-repeat 0px -1px;
    float: right;
    display: inline;
    padding: 0px 0px 0px 20px;
    margin: 64px 0px 0px 0px;
    cursor: default;
}

/*logo*/
.logo {
    width: 360px;
    height: 45px;
    float: left;
    background: url(img/logo.png) no-repeat #343844;
    margin: 10px 0px 0px 0px;
}

.nav {
    width: auto;
    height: 45px;
    float: right;
    display: inline;
    position: relative;
    margin: 10px 20px 0px 0px;
}

.nav ul {
    width: auto;
    height: 100%;
    float: left;
    display: block;
}

.nav ul li {
    width: auto;
    height: 100%;
    float: left;
    display: block;
}

.nav ul .nav_fenge_bg {
    width: 1px;
    background: url(img/nav_fenge_bg.png) no-repeat 0px 15px;
}

.nav ul li a {
    color: #e4e4e4;
    float: left;
    display: inline;
    width: auto;
    height: auto;
    float: left;
    display: block;
    margin:8px 0px;
    line-height: 36px;
    vertical-align: bottom;
    padding: 0px 15px;
    font-size: 14px;
    font-family: "微软雅黑";
}

.nav ul li a:hover {
    color: #fff;
}

.nav ul li a.nav_aclick {
    background: #69738e;
    color: #fff;
    border-radius: 4px;
}

/*用户菜单选项*/
.user {
    width: auto;
    height: auto;
    float: right;
    display: inline;
    position: relative;
    cursor: pointer;
    margin: 20px 0px 0px 0px;
}

.user_title {
    width: 100%;
    height: 30px;
    overflow: hidden;
    float: right;
    display: inline;
    cursor: pointer;
    background: #50c042;
    border-radius: 5px;;
}

.user .user_title div {
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding: 0px 20px 0px 0px;
    margin: 0px 15px 0px 25px;
    display: inline;
    line-height: 30px;
    font-size: 14px;
    font-family: "微软雅黑";
    vertical-align: bottom;
    text-align: center;
    color: #ffffff;
    background: url(img/user_click.png) no-repeat right;
}

.user_content {
    width: 100%;
    height: auto;
    overflow: hidden;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 999;
    display: none;
}

.user_content ul {
    width: 100%;
    height: auto;
    float: left;
    display: block;
    margin: 25px 0px 0px 0px;
    background: #50c042;
    padding: 10px 0px;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
}

.user_content ul li {
    width: 100%;
    height: 30px;
    float: left;
    display: inline;
    margin: 0px 0px 0px 0px;
}

.user_content ul li a {
    width: 100%;
    height: 100%;
    line-height: 30px;
    vertical-align: bottom;
    float: left;
    display: block;
    padding: 0px 15px 0px 0px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-family: "微软雅黑";
}

.user_content ul li a:hover {
    background: #38862e;
}

.user_lr {
    width: 127px;
    height: 45px;
    float: right;
    display: inline;
    position: relative;
    cursor: pointer;
    background: url("img/user_login_and_register.png") no-repeat;
}

.user_lr a {
    width: 100%;
    height: 100%;
    float: left;
    display: block;
}

.login_register {
    width: 100px;
    background: #FF9933;
    float: right;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    margin: 20px 0px 0px 0px;
    border-radius: 5px;;
}

.login_register a {
    color: #ffffff;
}

.login_register a:hover {
    color: #ffffff;
    text-decoration: none;;
}

/*主容器*/
.main {
    width: 100%;
    height: auto; /*min-height: 758px; */
    float: left;
    display: inline;
    margin: 30px auto;
}

/*内容器*/
.main_center, .two_center {
    width: 1180px;
    height: auto;
    margin: 0px auto;
    position: relative;
}

.main_fg {
    width: 100%;
    height: 2px;
    float: left;
    display: inline;
    margin: 25px auto;
    background: url(img/fg_01.jpg) repeat-x;
}

.special_fg {
    width: 1002px;
    height: 0;
    float: left;
    padding: 25px 0 0 0;
}

.left {
    width: 900px;
    height: auto;
    float: left;
    display: inline;
}

.right {
    width: 280px;
    height: auto;
    float: left;
    display: inline;
}

/*脚页*/
.bottom {
    width: 1200px;
    /*height:130px;*/
    height: 95px;
    /*overflow: hidden;;*/
    float: left;
    line-height: 30px;
    text-align: center;
    background: #343844;
    color: #cccccc;
}

.bottom_btn {
    width: 500px;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

.bottom_btn .foot_li {
    width: 730px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 48px;
}

.bottom_btn .foot_li li {
    width: auto;
    height: 30px;
    float: left;
    display: inline;
    margin: 0px 20px 0px 0px;
}

.bottom_btn .foot_li li a {
    color: #f2f2f2;
    color: #F2F2F2;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    vertical-align: bottom;
    width: auto;
    font-size: 14px;
    padding: 0px 0px 0px 30px;
    font-family: "微软雅黑";
}

.bottom_btn .foot_text {
    width: auto;
    height: auto;
    font-size: 12px;
    color: #afafaf;
    position: absolute;

    bottom: 10px;
    text-align: left;
    line-height: 20px;
    font-family: "微软雅黑";
    text-align: center;
}
.bottom_btn{
	left: 40px;
}
.foot_text{
	left: 115px;
}

.foot_ad {
    width: 340px;
    height: 130px;
    float: right;
    display: inline;
    background: url("img/foot_ad.png") no-repeat;
    margin: 0px 0px 0px 50px;
}
 /*底部按钮群*/
.bottom_button{width: 150px;height: 36px;float: right;display: inline;}
.bottom_button div{width: 26px;height: 26px;float: left;display: inline;margin: 0px 15px 0px 0px;cursor: pointer;opacity: 0.4;position: relative;}
.bottom_button div a,.bottom_button div img{width: 100%;height: 100%;opacity: 0;float: left;display: block;}
.bottom_button div:hover{opacity: 1;}
.bottom_button div:nth-child(1){background:url("img/type_icon.png") -1px -219px no-repeat;}
.bottom_button div:nth-child(2){background:url("img/type_icon.png") -2px -284px no-repeat;}
.bottom_button div:nth-child(3){background:url("img/type_icon.png") -2px -350px no-repeat;}
.bottom_button div:nth-child(4){background:url("img/type_icon.png") -1px -416px no-repeat;margin: 0px;}
.bottom_btn .code{width: 214px;height: 214px;position: absolute;background: url("img/code.jpg") no-repeat;top: 225px;right: 30px;display: none;opacity: 1;}
/*页面维度 肖何 修改添加 开始*/

/*页面维度 肖何 修改添加 结束*/

/*瀑布流 肖何 修改添加 开始*/
#picList {
    width: 100%;
    height: auto;
    float: left;
    display: inline;
}

#picList li {
    width: 278px;
    height: auto;
    position: absolute;
    background: #ffffff;
    border: 2px solid #EEF1F7;
}

#picList li:hover {
    border: 2px solid #66cc00;
}

#picList .pic_img {
    width: 268px;
    height: 175px;
    float: left;
    display: inline;
    margin: 6px 6px 22px 6px;
}

#picList .pic_img a {
    width: 100%;
    height: 100%;
    float: left;
    display: block;
}

#picList .pic_img img {
    width: 100%;
    height: 100%;
    float: left;
    display: inline;
}

#picList .pic_wen {
    width: 100%;
    height: auto;
    float: left;
    display: inline;
    margin: 0px 0px 22px 0px;
}

.pic_wen .pic_wen_title {
    width: 100%;
    height: 24px;
    line-height: 24px;
    vertical-align: bottom;
    float: left;
    display: inline;
}

.pic_wen .pic_wen_title a {
    width: auto;
    height: 100%;
    float: left;
    display: block;
    color: #2f364a;
    font-family: "微软雅黑";
    font-size: 18px;
    margin: 0px 0px 0px 12px;
}

/*首页文字重叠，改为超过一行引号显示*/
.pic_list dl dt a {
    width: 100%;
    float: left;
    display: block;
    color: #6c6c6c;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    /*首页文字重叠，改为超过一行引号显示*/
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}
